<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs2340.teama.m5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cs2340.teama.views.BeginGameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cs2340.teama.views.ConfigActivity"></activity>
        <activity
            android:name="com.cs2340.teama.views.PlanetActivity"
            android:label="@string/title_activity_planet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cs2340.teama.views.LoadScreenActivity" />
        <activity
            android:name="com.cs2340.teama.views.MarketPlaceActivity"
            android:label="@string/title_activity_market_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cs2340.teama.views.MarketPlaceWelcomeActivity"
            android:label="@string/title_activity_market_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cs2340.teama.views.MarketPlaceBuyActivity"
            android:label="@string/title_activity_market_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cs2340.teama.views.MarketPlaceSellActivity"
            android:label="@string/title_activity_market_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cs2340.teama.views.TravelActivity"
            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.cs2340.teama.views.PirateAttackActivity"
            android:label="PirateAttackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cs2340.teama.views.TravelAnimationActivity"  />
    </application>

</manifest>